{% extends 'base/base.html' %}

{% block content %}
<title>Agendamentos</title>

<h5 class="mb-3"><i class="fa fa-calendar"></i> Agenda</h5>

{% for h in agendamentos %}

<div class="modal fade" id="modalCancelar{{h.id}}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Cancelar agendamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                Tem certeza que deseja cancelar este agendamento?

                <br><br>

                <div>

                    <div style="font-size: larger;">
                        <i class="fa fa-calendar"></i> {{h.data}}
                    </div>

                    <div style="font-size: larger;">
                        <i class="fa fa-clock-o"></i>
                        {{h.hora_inicio}} às {{h.hora_fim}}
                    </div>

                    <div style="font-size: larger;">
                        <i class="fa fa-circle"></i>
                        {{h.quadra_nome}} - Quadra {{h.quadra_numero}}
                    </div>

                    <div style="font-size: larger;">
                        <i class="fa fa-user"></i>
                        {{h.usuario.get_full_name}} | {{h.usuario.telefone|default_if_none:''}}
                    </div>

                </div>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Voltar
                </button>

                <a href="{% url 'cancelar' h.id %}" class="btn btn-danger">
                    Confirmar cancelamento
                </a>

            </div>

        </div>
    </div>
</div>


<div class="card d-flex flex-row justify-content-between align-items-center mb-2 p-3">

    <div class="agendamento-info">

        <div>

            <div style="font-size: larger;">
                <i class="fa fa-calendar"></i> {{h.data}}
            </div>

            <div style="font-size: larger;">
                <i class="fa fa-clock-o"></i>
                {{h.hora_inicio}} às {{h.hora_fim}}
            </div>

            <div style="font-size: larger;">
                <i class="fa fa-circle"></i>
                {{h.quadra_nome}} - Quadra {{h.quadra_numero}}
            </div>

            <div style="font-size: larger;">
                <i class="fa fa-user"></i>
                {{h.usuario.get_full_name}} | {{h.usuario.telefone|default_if_none:''}}
            </div>

        </div>

    </div>

    <div>

        {% if h.data >= hoje %}

        <button class="btn btn-danger btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#modalCancelar{{h.id}}">
            Cancelar
        </button>

        {% else %}

        <span class="text-muted">Concluído</span>

        {% endif %}

    </div>

</div>

{% empty %}

<p>Não existem agendamentos.</p>

{% endfor %}

{% endblock %}