{% extends 'base/base.html' %}

{% block content %}
<title>Bem-vindo(a)!</title>
<div class="d-flex justify-content-center">
    <form method="POST">
        {% csrf_token %}

        <!-- DATA -->
        <div class="step card" id="step-data">
            <h5>Escolha a data</h5>
            <input type="date" name="data" id="data" class="form-control">
        </div>
        <div id="aviso-descanso" class="alert alert-info mt-2 d-none" style="margin-bottom: 10px;">
            Arena fechada neste dia.
        </div>
        <!-- QUADRA -->
        <div class="step card disabled" id="step-quadra">
            <h5>Escolha a quadra</h5>
            <select name="quadra" id="quadra" disabled required class="form-control">
                <option value="">Selecione</option>
                {% for q in quadras %}
                <option value="{{q.id}}">
                    {{q.apelido}} - Quadra {{q.numeracao}}
                </option>
                {% endfor %}
            </select>
        </div>

        <!-- HORARIO -->
        <div class="step card disabled" id="step-horario">
            <h5>Escolha o horário</h5>
            <div id="lista-horarios"></div>
        </div>

        <!-- CONFIRMAR -->
        <div class="step card disabled" id="step-confirmar">
            <h5>Confirmar</h5>
            <hr>
            <div>
                <div style="font-size: medium;">

                    <span id="preview-data"></span>
                </div>
                <div style="font-size: medium;">
                    <span id="preview-horario"></span>
                </div>
                <div style="font-size: medium;">
                    <span id="preview-quadra"></span>
                </div>

                <div style="font-size: medium;">
                    <i class="fa fa-user"></i>
                    <span>{{request.user.get_full_name}} | {{request.user.telefone}}</span>
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-success">Agendar</button>
        </div>

        <div class="card" id="step-confirmar">
            <h5>Onde estamos?</h5>

            <span class="mb-2">
                <i class="fa fa-map-marker"></i>
                R. Alberto Leal Nunes, 1360 - Lourival Parente, Teresina - PI
            </span>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3973.804704154731!2d-42.794411025424075!3d-5.135126451944823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x78e37c4f42283d1%3A0x2fd164b77515bfd7!2sArena%20Vila%20Sol!5e0!3m2!1spt-BR!2sbr!4v1773335974731!5m2!1spt-BR!2sbr"
                style="border:0;width:100%;height:250px;border-radius:10px;" allowfullscreen="" loading="lazy">
            </iframe>

            <div class="mt-3 text-center">
                <button type="button" class="btn btn-success" onclick="compartilharLocal()">
                    <i class="fa fa-share-alt"></i> Compartilhar localização
                </button>
            </div>
        </div>
        <script>
            function compartilharLocal() {

                const url = "https://maps.google.com/?q=Arena+Vila+Sol+Teresina";

                if (navigator.share) {
                    navigator.share({
                        title: "Arena Vila Sol",
                        text: "Veja a localização da Arena Vila Sol:",
                        url: url
                    });
                } else {
                    window.open(url, "_blank");
                }

            }
        </script>
    </form>
</div>
{% endblock %}