{% extends 'base/base.html' %}

{% block content %}
<div class="d-flex justify-content-center">
    <form method="POST">
        {% csrf_token %}

        <!-- DATA -->
        <div class="step card" id="step-data">
            <h5>Escolha a data</h5>
            <input type="date" name="data" id="data" class="form-control">
        </div>

        <!-- QUADRA -->
        <div class="step card disabled" id="step-quadra">
            <h5>Escolha a quadra</h5>
            <select name="quadra" id="quadra" disabled required class="form-control">
                <option value="">Selecione</option>
                {% for q in quadras %}
                <option value="{{q.id}}">
                    {{q.apelido}} - Quadra {{q.numeracao}}
                </option>
                {% endfor %}
            </select>
        </div>

        <!-- HORARIO -->
        <div class="step card disabled" id="step-horario">
            <h5>Escolha o horário</h5>
            <div id="lista-horarios"></div>
        </div>

        <!-- CONFIRMAR -->
        <div class="step card disabled" id="step-confirmar">
            <h5>Confirmar</h5>
            <hr>
            <div>
                <div style="font-size: medium;">
                    <i class="fa fa-calendar"></i>
                    <span id="preview-data"></span>
                </div>
                <div style="font-size: medium;">
                    <i class="fa fa-clock-o"></i>
                    <span id="preview-horario"></span>
                </div>
                <div style="font-size: medium;">
                    <i class="fa fa-circle"></i>
                    <span id="preview-quadra"></span>
                </div>

                <div style="font-size: medium;">
                    <i class="fa fa-user"></i>
                    <span>{{request.user.get_full_name}} - {{request.user.cpf}}</span>
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-success">Agendar</button>
        </div>
    </form>
</div>
{% endblock %}